body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://st.depositphotos.com/1579821/3215/i/950/depositphotos_32152387-stock-photo-back-to-school-background-with.jpg');
  background-color: #000000;
  background-size: 120vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
form {
color:#ffffff;
margin: 0 auto;
width: 400px;
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
}

.styled {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}